# Week2

## Data Type

| Category | Examples                     | Description               |
|----------|------------------------------|---------------------------|
| Numeric  | int, float, complex          | Numbers for calculation   |
| Sequence | list, tuple, string          | Ordered collections       |
| Mapping  | dict                         | Keyâ€“value pairs           |
| Boolean  | Bool                         | True / False values       |
| Set      | set                          | Unordered unique elements |
| Binary   | bytes, bytearray, memoryview | Data in byte form         |
| Special  | NoneType                     | Special-purpose values    |

### Numeric Types

In [2]:
x = 10 # int
y = 3.5 # float

#complex
z = 2 + 3j
print(z)
print(z.real)
print(z.imag)
print(z.conjugate())
print(type(z.real))

(2+3j)
2.0
3.0
(2-3j)
<class 'float'>

### Sequence Types

list

In [13]:
fruits = ["apple", "banana", "cherry"]
print(2, fruits)
print(3, fruits[0])
print(4, fruits.pop())
print(5, fruits)
print(6, fruits.copy())
print(7, fruits)
print(8, fruits.sort())
print(9, fruits)
print(10, fruits.sort(reverse=True))
print(11, fruits)

2 ['apple', 'banana', 'cherry']
3 apple
4 cherry
5 ['apple', 'banana']
6 ['apple', 'banana']
7 ['apple', 'banana']
8 None
9 ['apple', 'banana']
10 None
11 ['banana', 'apple']

In [16]:
fruits = ["apple", "banana", "cherry"]
print(2,fruits.sort(reverse=True, key=len))
print(3, fruits)
print(4, fruits.copy())
print(5, fruits.insert(1, "jeruk"))
print(6, fruits.insert(2, "jeruk"))
print(7, fruits)
print(8, fruits.count(fruits[1]))
print(9, fruits.insert(1, 2)) # lists can contain elements of different data types
print(10, fruits)
print(11, fruits.remove("jeruk"))
print(12, fruits)

2 None
3 ['banana', 'cherry', 'apple']
4 ['banana', 'cherry', 'apple']
5 None
6 None
7 ['banana', 'jeruk', 'jeruk', 'cherry', 'apple']
8 2
9 None
10 ['banana', 2, 'jeruk', 'jeruk', 'cherry', 'apple']
11 None
12 ['banana', 2, 'jeruk', 'cherry', 'apple']

In [17]:
fruits = ["apple", "banana", "cherry", "jeruk"]
print(2, fruits.index("jeruk"))
print(3, fruits)
print(4, fruits.remove("jeruk"))
print(5, fruits)
print(6, fruits.extend("jeruk"))
print(7, fruits)
print(8, fruits.extend(fruits))
print(9, fruits)
print(10, fruits.append("jeruk"))
print(11, fruits)
print(12, fruits.clear())
print(13, fruits)

2 3
3 ['apple', 'banana', 'cherry', 'jeruk']
4 None
5 ['apple', 'banana', 'cherry']
6 None
7 ['apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k']
8 None
9 ['apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k', 'apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k']
10 None
11 ['apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k', 'apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k', 'jeruk']
12 None
13 []

In [18]:
fruits = ["apple", "banana", "cherry"]
fruits1 = fruits # reference but not copy
fruits2 = fruits.copy()
fruits.append("jeruk")


print(7, fruits1)
print(8, fruits2)

7 ['apple', 'banana', 'cherry', 'jeruk']
8 ['apple', 'banana', 'cherry']

tuple

In [30]:
my_tuple = ("apple", 10, 10, True, 3.14)
print(my_tuple)
packed_tuple = 1, 2, "three"
print(packed_tuple)
print(my_tuple[0])
print(my_tuple.count(10))
try:
    my_tuple[1] = 1
except Exception as e:
    print(f"An error occurred: {type(e)} {e}")
my_tuple = (1, 2, 3) # valid

('apple', 10, 10, True, 3.14)
(1, 2, 'three')
apple
2
An error occurred: <class 'TypeError'> 'tuple' object does not support item assignment

dictionary

In [39]:
student = {"name": "Jack", "age": 25}
fruits = ["apple", "banana", "cherry"]
print(3, student)
print(4, student.get("name"))
print(5, student.get("age"))
print(6, student.pop("age"))
print(7, student.popitem())
student = {"name": "Jack", "age": 25}
print(9, type(student.keys()))
fruits_dict = dict.fromkeys(fruits) # class method
print(11, fruits_dict)
fruits_dict = dict.fromkeys(fruits, True)
print(13, fruits_dict)

3 {'name': 'Jack', 'age': 25}
4 Jack
5 25
6 25
7 ('name', 'Jack')
9 <class 'dict_keys'>
11 {'apple': None, 'banana': None, 'cherry': None}
13 {'apple': True, 'banana': True, 'cherry': True}

In [ ]:
student = {"name": "Jack", "age": 25}
print(2, student.values())
print(3, student.items())
print(4, student.pop("age"))
print(5, student)
print(6, student.popitem())
print(7, student)