# Week2

## Data Type

| Category | Examples                     | Description               |
|----------|------------------------------|---------------------------|
| Numeric  | int, float, complex          | Numbers for calculation   |
| Sequence | list, tuple, string          | Ordered collections       |
| Mapping  | dict                         | Key–value pairs           |
| Boolean  | Bool                         | True / False values       |
| Set      | set                          | Unordered unique elements |
| Binary   | bytes, bytearray, memoryview | Data in byte form         |
| Special  | NoneType                     | Special-purpose values    |

### Numeric Types

In [2]:
x = 10 # int
y = 3.5 # float

#complex
z = 2 + 3j
print(z)
print(z.real)
print(z.imag)
print(z.conjugate())
print(type(z.real))

(2+3j)
2.0
3.0
(2-3j)
<class 'float'>

### Sequence Types

#### list

In [14]:
fruits = ["apple", "banana", "cherry"]
print(2, fruits)
print(3, fruits[0])
print(4, fruits.pop())
print(5, fruits)
print(6, fruits.copy())
print(7, fruits)
print(8, fruits.sort())
print(9, fruits)
print(10, fruits.sort(reverse=True))
print(11, fruits)
del fruits[0]
print(12, fruits)

2 ['apple', 'banana', 'cherry']
3 apple
4 cherry
5 ['apple', 'banana']
6 ['apple', 'banana']
7 ['apple', 'banana']
8 None
9 ['apple', 'banana']
10 None
11 ['banana', 'apple']
12 ['apple']

In [16]:
fruits = ["apple", "banana", "cherry"]
print(2,fruits.sort(reverse=True, key=len))
print(3, fruits)
print(4, fruits.copy())
print(5, fruits.insert(1, "jeruk"))
print(6, fruits.insert(2, "jeruk"))
print(7, fruits)
print(8, fruits.count(fruits[1]))
print(9, fruits.insert(1, 2)) # lists can contain elements of different data types
print(10, fruits)
print(11, fruits.remove("jeruk"))
print(12, fruits)

2 None
3 ['banana', 'cherry', 'apple']
4 ['banana', 'cherry', 'apple']
5 None
6 None
7 ['banana', 'jeruk', 'jeruk', 'cherry', 'apple']
8 2
9 None
10 ['banana', 2, 'jeruk', 'jeruk', 'cherry', 'apple']
11 None
12 ['banana', 2, 'jeruk', 'cherry', 'apple']

In [17]:
fruits = ["apple", "banana", "cherry", "jeruk"]
print(2, fruits.index("jeruk"))
print(3, fruits)
print(4, fruits.remove("jeruk"))
print(5, fruits)
print(6, fruits.extend("jeruk"))
print(7, fruits)
print(8, fruits.extend(fruits))
print(9, fruits)
print(10, fruits.append("jeruk"))
print(11, fruits)
print(12, fruits.clear())
print(13, fruits)

2 3
3 ['apple', 'banana', 'cherry', 'jeruk']
4 None
5 ['apple', 'banana', 'cherry']
6 None
7 ['apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k']
8 None
9 ['apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k', 'apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k']
10 None
11 ['apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k', 'apple', 'banana', 'cherry', 'j', 'e', 'r', 'u', 'k', 'jeruk']
12 None
13 []

In [18]:
fruits = ["apple", "banana", "cherry"]
fruits1 = fruits # reference but not copy
fruits2 = fruits.copy()
fruits.append("jeruk")


print(7, fruits1)
print(8, fruits2)

7 ['apple', 'banana', 'cherry', 'jeruk']
8 ['apple', 'banana', 'cherry']

#### tuple

In [30]:
my_tuple = ("apple", 10, 10, True, 3.14)
print(my_tuple)
packed_tuple = 1, 2, "three"
print(packed_tuple)
print(my_tuple[0])
print(my_tuple.count(10))
try:
    my_tuple[1] = 1
except Exception as e:
    print(f"An error occurred: {type(e)} {e}")
my_tuple = (1, 2, 3) # valid

('apple', 10, 10, True, 3.14)
(1, 2, 'three')
apple
2
An error occurred: <class 'TypeError'> 'tuple' object does not support item assignment

#### dictionary

In [43]:
student = {"name": "Jack", "age": 25, "apple": True}
fruits = ["apple", "banana", "cherry"]
print(3, student)
print(4, student.get("name"))
print(5, student.get("age"))
print(6, student.pop("age"))
print(7, type(student.keys()))
print(8, student.popitem())
student = {"name": "Jack", "age": 25}
student.update(dict.fromkeys(fruits))
print(student)

3 {'name': 'Jack', 'age': 25, 'apple': True}
4 Jack
5 25
6 25
7 <class 'dict_keys'>
8 ('apple', True)
{'name': 'Jack', 'age': 25, 'apple': None, 'banana': None, 'cherry': None}

In [2]:
student = {"name": "Jack", "age": 25}
print(2, student.values())
print(3, student.items())
print(4, student.pop("age"))
print(5, student)
print(6, student.popitem())
print(7, student)
fruits = ["apple", "banana", "cherry"]
fruits_dict = dict.fromkeys(fruits) # class method
print(10, fruits_dict)
fruits_dict = dict.fromkeys(fruits, True)
print(12, fruits_dict)

2 dict_values(['Jack', 25])
3 dict_items([('name', 'Jack'), ('age', 25)])
4 25
5 {'name': 'Jack'}
6 ('name', 'Jack')
7 {}
10 {'apple': None, 'banana': None, 'cherry': None}
12 {'apple': True, 'banana': True, 'cherry': True}

In [40]:
# about setdefault method
my_dict = {'apple': 1, 'banana': 2}

# Key exists, returns the existing value
value_apple = my_dict.setdefault('apple', 0)
print(f"Value of 'apple': {value_apple}") # Output: Value of 'apple': 1
print(f"Dictionary after 'apple': {my_dict}") # Output: Dictionary after 'apple': {'apple': 1, 'banana': 2}

# Key does not exist, inserts with default value and returns it
value_orange = my_dict.setdefault('orange', 3)
print(f"Value of 'orange': {value_orange}") # Output: Value of 'orange': 3
print(f"Dictionary after 'orange': {my_dict}") # Output: Dictionary after 'orange': {'apple': 1, 'banana': 2, 'orange': 3}

# Key does not exist, inserts with default value None
value_grape = my_dict.setdefault('grape')
print(f"Value of 'grape': {value_grape}") # Output: Value of 'grape': None
print(f"Dictionary after 'grape': {my_dict}") # Output: Dictionary after 'grape': {'apple': 1, 'banana': 2, 'orange': 3, 'grape': None}

Value of 'apple': 1
Dictionary after 'apple': {'apple': 1, 'banana': 2}
Value of 'orange': 3
Dictionary after 'orange': {'apple': 1, 'banana': 2, 'orange': 3}
Value of 'grape': None
Dictionary after 'grape': {'apple': 1, 'banana': 2, 'orange': 3, 'grape': None}

#### Bool

In [8]:
is_pass = True
print(is_pass)

True

#### set

In [ ]:
my_set = {1, 2, 3, 4}

# Add an element
my_set.add(5)

# Remove an element (raises error if not found)
my_set.remove(2)

# Discard an element (no error if not found)
my_set.discard(10)

# Check membership
print(3 in my_set)  # True or False

# Set operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))        # {1, 2, 3, 4, 5}
print(a.intersection(b)) # {3}
print(a.difference(b))   # {1, 2}

### Binary Type

### bytes
__Immutable__ sequence of bytes

In [12]:
bts = '你好'.encode('utf-8')  # 将字符串编码为 UTF-8 的 bytes
bts = b'hello'  # 注意前面的 b，表示这是 bytes 类型
bts = bytes([104, 101, 108, 108, 111])  # 对应 ASCII 的 'hello'
print(bts[1:4])  # 输出 b'ell'
print(bts[::-1])
print(bts.decode('ascii'))
print(bts[1:3].decode('utf-8'))

b'ell'
b'olleh'
hello
el

### bytearray
__Mutable__ version of bytes

In [18]:
b = bytearray(b'hello')
print(b)  # 输出：bytearray(b'hello')
print(bytes(b))
b = bytearray(b'hello')
b[0] = 72  # 修改第一个字节为 ASCII 的 'H'
print(b)  # 输出：bytearray(b'Hello')
b.append(33)  # 添加 ASCII 的 '!'
print(b)  # 输出：bytearray(b'Hello!')
del b[1]  # 删除第二个字节

#side question ord()
a = 'A'
b = '你'
c = "你好" # ord() expected a character
print(ord(a), ord(b))

bytearray(b'hello')
b'hello'
bytearray(b'Hello')
bytearray(b'Hello!')
65 20320

### memoryview
provides a view into the memory of another object without copying the data

In [19]:
data = bytearray(b'hello world')
mv = memoryview(data)
print(mv[0])  # 输出 104，对应 'h'
mv[0] = 72  # 修改为 ASCII 的 'H'
print(data)  # 输出 bytearray(b'Hello world')

104
bytearray(b'Hello world')

## Type Conversion
Type conversion means changing a value from one data type to another.
Python supports both implicit (automatic) and explicit (manual) conversion.

In [ ]:
%%sql

### Explicit Type Conversion
| Function  | Converts To    | Example                                           |
|-----------|----------------|---------------------------------------------------|
| `int()`   | Integer        | int(3.14) → 3                                     |
| `float()` | Floating-point | `float(5)` → `5.0`                                |
| `str()`   | String         | `str(42)` → `'42'`                                |
| `bool()`  | Boolean        | `bool(0)` → `False`                               |
| `list()`  | List           | `list('abc')` → `['a', 'b', 'c']`                 |
| `tuple()` | Tuple          | `tuple([1, 2])` → `(1, 2)`                        |
| `set()`   | Set            | `set([1, 1, 2])` → `{1, 2}`                       |
| `dict()`  | Dictionary     | `dict([['a', 1], ['b', 2]])` → `{'a': 1, 'b': 2}` |
| `bytes()` | Bytes          | `bytes("Hi", 'utf-8')` → `b'Hi'`                  |

In [2]:
print(float("7"))
print(float("1.23"))
print(int("7"))
try:
    print(int("1.23"))
except Exception as e:
    print(f"An error occurred: {type(e)} {e}")

7.0
1.23
7
An error occurred: <class 'ValueError'> invalid literal for int() with base 10: '1.23'

### Implicit Type Conversion

In [ ]:
a = 10       # int
b = 2.5      # float
c = a + b    # Python converts `a` to float

## Operators
Arithmetic: `+` `-` `*` `/` `//` `%` `**`
Assignment: `=`, `+=`, `-=`, `*=`, ...
Relational: `<`, `>`, `<=`, `>=`, `==`, `!=`
Logical: `and`, `or`, `not`
Precedence: use parentheses to make code clearer

| Operators                 | Associativity |
|---------------------------|---------------|
| `()` (Highest precedence) | Left to Right |
| `**`                      | Right to Left |
| `+x`, `-x`, `~x`          | Left to Right |
| `*`, `/`, `//`, `%`       | Left to Right |
| `+`, `-`                  | Left to Right |
| `<<`, `>>`                | Left to Right |
| `&`                       | Left to Right |
| `^`                       | Left to Right |

### Multiple Assignment

In [ ]:
a = b = 10
x, y = 1, 2
x, y = y, x